/* pages/cate/cate.wxss */
.choiceBox {
	margin-top: 10rpx;
	height: 250rpx;

	.choiceScroll {
		width: 100%;
		height: 100%;
		white-space: nowrap;

		.choiceItem {
			margin-left: 10rpx;
			margin-right: 10rpx;
			width: 200rpx;
			height: 100%;
			background-color: rgb(243, 247, 246);
			box-sizing: border-box;
			border-radius: 30%;
			display: inline-block;
			text-align: center;

			image {
				width: 90%;
				height: 70%;
				border-radius: 50%;
			}

			view {
				color: rgb(92, 90, 90);
			}
		}
	}
}

.productBox {
	width: 100%;

	.productList {
		display: flex;
		flex-wrap: wrap;
		background-color: rgb(243, 247, 246);

		.productItem {
			width: 46%;
			text-align: center;
			margin: 15rpx;

			navigator {
				image {
					width: 100%;
					border-radius: 5%;
				}

				.productName {
					color: black;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				.productPrice {
					margin-left: 10rpx;
					text-align: left;
					font-size: 40rpx;
					color: #f3514f;

					text {
						margin-left: 20rpx;
						color: rgb(165, 161, 161);
						font-size: 30rpx;
						text-decoration: line-through
					}
				}
			}
		}
	}
}